<header>
    <!--<nav class="nav nav-pills justify-content-center">
        <a class="nav-item nav-link {{isHomeActive}}" href="/">Home</a>
        <a class="nav-item nav-link {{isAddDepartmentActive}}" href="/departments/add">Add Department</a>
        <a class="nav-item nav-link {{isAllDepartmentActive}}" href="/departments/viewAll">All Departments</a>
    </nav>-->

    <nav class="navbar navbar-expand-md navbar-light bg-light border">
        <a class="navbar-brand" href="/"><img class="logo" src="/assets/images/appImage.png"/></a>
        <br/>
        <a class="navbar-brand" href="/"><i data-feather="home"></i></a>
        <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <span class="navbar-text col text-left">{{ title }}</span>
            {{#if loggedIn}}                                         <!-- loggedIn comes from res.locals.loggedIn from app.js -->
                <!-- Search Box -->
                <form method="post" action="/skills/search">
                    <div class="input-group">
                        <input type="text" id="searchBox" name="skillName" class="form-control btn-outline-dark border-right-0" placeholder="search skill..." aria-label="Example text with button addon" aria-describedby="button-addon1">
                        <div class="input-group-prepend">
                            <button class="btn form-control btn-outline-dark" type="submit" id="button-addon1"><i data-feather="search"></i></button>
                        </div>
                    </div>
                </form>
                <!-- Search Box -->
                {{#if showDepartment}}
                    <a class="nav-item nav-link btn btn-dark col-auto" href="/departments/add">Add Department</a>
                    <a class="nav-item nav-link btn btn-dark col-auto" href="/departments/viewAll">All Department</a>
                {{/if}}
                {{#if canAddEmployee}}
                        <a class="nav-item nav-link btn btn-dark col-auto" href="/employees/register">{{#if showAddCEO}}Add CEO Employee{{else}}Add Employee{{/if}}</a>
                {{/if}}
                <div class="dropdown nav-item">
                    <button class="btn btn-dark dropdown-toggle" type="button" data-toggle="dropdown" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">
                        {{loggedInEmployee.fullName}} <span class="caret"></span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/employees/logout">Logout<i class="ml-2 pb-1 float-right text-dark" data-feather="log-out"></i></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/skills/viewAll">View All Skills</a>
                        <a class="dropdown-item" href="/skills/add">Add Skill</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/employees/view">View Profile</a>
                        <a class="dropdown-item" href="/employees/edit">Edit Profile</a>
                        <a class="dropdown-item" href="/employees/changePassword">Change Password</a>
                    </div>
                </div>
                <span class="text-dark col-auto"></span>
            {{/if}}
        </div>
    </nav>

</header>