<header>
    <!--<nav class="nav nav-pills justify-content-center">
        <a class="nav-item nav-link {{isHomeActive}}" href="/">Home</a>
        <a class="nav-item nav-link {{isAddDepartmentActive}}" href="/departments/add">Add Department</a>
        <a class="nav-item nav-link {{isAllDepartmentActive}}" href="/departments/viewAll">All Departments</a>
    </nav>-->

    <nav class="navbar navbar-expand-md navbar-light bg-light border">
        <a class="navbar-brand" href="/"><img class="logo" src="/assets/images/appImage.png"/></a>
        <br/>
        <a class="navbar-brand" href="/"><i data-feather="home"></i></a>
        <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <span class="navbar-text col text-left">{{ title }}</span>
            {{#unless loggedIn}}                                         <!-- loggedIn comes from res.locals.loggedIn from app.js -->
                <a class="nav-item nav-link btn btn-dark col-auto" href="/employees/login">Employee Login</a>
                <a class="nav-item nav-link btn btn-dark col-auto" href="/employees/register">Employee Signup</a>
            {{else}}
                {{#if showDepartment}}
                    <a class="nav-item nav-link btn btn-dark col-auto" href="/departments/add">Add Department</a>
                    <a class="nav-item nav-link btn btn-dark col-auto" href="/departments/viewAll">All Department</a>
                {{/if}}
                <a class="nav-item nav-link btn btn-dark col-auto" href="/skills/add">Add Skill</a>
                <a class="nav-item nav-link btn btn-dark col-auto" href="/skills/viewAll">All Skills</a>
                <div class="dropdown">
                    <button class="btn btn-dark dropdown-toggle" type="button" data-toggle="dropdown" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">
                        {{loggedInEmployee.fullName}} <span class="caret"></span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/employees/logout">Logout<i class="ml-2 pb-1 float-right text-dark" data-feather="log-out"></i></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/employees/view">View Profile</a>
                        <a class="dropdown-item" href="/employees/edit">Edit Profile</a>
                    </div>
                </div>
                <span class="text-dark col-auto"></span>
            {{/unless}}
        </div>
    </nav>

</header>