<h3>Department Name: {{ departmentName }}</h3>
<p>Department Head: {{ departmentHead }}</p>
<p>Key: {{ departmentKey }}</p>
<hr/>
<p>
    <span><a href="/departments/destroy?key={{ departmentKey }}"> Delete Department </a> </span>
    <br/>
    <span><a href="/departments/edit?key={{ departmentKey }}"> Edit Department </a> </span>
</p>